html{
    width: 1245px;
}
@media(max-width:412px){
    html{
        width: 412px;
    }
}
body{
    background-color: lightblue;
}
.Home-icon{
    height: 1.5em;
    position: fixed;
    right: 2em;
    margin-top: 1%;
}
.footer{
    position: static;
    z-index: 0;
    bottom:auto;
    width: 100%;
    margin-top: 10%;
}
.footer>p{
    position: absolute;
    right: 2em;
}
.contact{
    border-radius: 50%;
    height: 1.5em;
}
.conterfy{
    width: 15em;
    border: solid black 1px;
    position: relative;
    margin-left:calc(50% - 7.5em);
}
.content>p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.navigation{
    display: inline-block;
    z-index: +1;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: lightblue;
}

.navigation>h1{
    font-size: 3rem;
}

.Homepage{
    display: none;
}
.route-boxes-container{
    width: 30em;
    position: relative;
    margin-left: calc(50% - 10em);
    display: inline-flex;
    gap: 1rem;
}
a{
    color: black;
    text-decoration-line: none;
}

h1{
    text-align: center;
    font-size:5rem;
}

.Professional h1{
    text-align: left;
    background-color: lightblue;
    z-index: +1;
}

.content{
    text-align: left;
    position: relative;
    top: 10em;
    z-index: 0;
}

.Startseite{
    text-align: left;
    position: relative;
    top: auto;
    z-index: 0;
}