html{
    size: 1rem;
}
body{
    background-color: lightblue;
}
.Home-icon{
    height: 1.5em;
}
.footer{
    position: static;
    bottom: 2px;
    width: 100%;
    margin-top: 10%;
}
.footer>p{
    position: absolute;
    right: 2em;
}
.contact{
    border-radius: 50%;
    height: 1.5em;
}
.conterfy{
    width: 15em;
    border: solid black 1px;
    position: relative;
    margin-left:calc(50% - 7.5em);
}
.content>p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.navigation{
    position: fixed;
    right: 2em;
}
.route-boxes{
    text-align: center;
}
.route-boxes>a {
    display: inline-block;
    font-weight: bold;
}
h1{
    text-align: center;
    font-size:5rem;
}