html{
    width: device-width;
}


body{
    background-color: lightblue;
}
.Home-icon{
    height: 1.5em;
    position: fixed;
    right: 2em;
    margin-top: 5%;
}
.footer{
    position: relative;
    z-index: 0;
    bottom:2px;
    width: 100%;
    margin-top: 10%;
}
.footer>p{
    position: absolute;
    right: 2em;
}
.footer>hr{
    width: 100%;
}
.contact{
    border-radius: 50%;
    height: 1.5em;
}
.conterfy{
    width: 15em;
    border: solid black 1px;
    position: relative;
    margin-left:calc(50% - 7.5em);
}
.content>p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.navigation{
    display: inline-block;
    z-index: +1;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: lightblue;
}

.navigation>h1{
    font-size: 3rem;
}

.Homepage{
    display: none;
}
.route-boxes-container{
    width: 30em;
    position: relative;
    margin-left: calc(50% - 10em);
    margin-top: 2%;
    display: inline-flex;
    gap: 1rem;
}
a{
    color: black;
    text-decoration-line: none;
}

h1{
    text-align: center;
    font-size:5rem;
}

.Professional h1{
    text-align: left;
    background-color: lightblue;
    z-index: +1;
}

.Educational h1{
    text-align: left;
    background-color: lightblue;
    z-index: +1;
}

.Others h1{
    text-align: left;
    background-color: lightblue;
    z-index: +1;
}
.content{
    text-align: left;
    position: relative;
    top: 8em;
    z-index: 0;
}
@media(max-width: 390px){
    .content{
        text-align: left;
        position: relative;
        top: 10.5em;
        z-index: 0;
    }
}
.Startseite{
    text-align: left;
    position: relative;
    top: auto;
    z-index: 0;
}

#avc-logo{
    width: 200px;
}

#bayer-logo{
    border-radius: 50%;
}

#TU-logo{
    width: 200px;
}

#th-wildau-logo{
    width: 200px;
}

#osz-lise-meitner{
    width: 200px;
}

#internships{
    font-size: 3rem;
}

#xing{
    height: 1.5em;
    border-radius: 50%;
}

#linked-in{
    height: 1.5em;
}